%%-*- mode: erlang -*-
{require_otp_vsn, "R16|17"}.
{cover_enabled, true}.
{erl_opts, [{platform_define, "^[0-9]+", namespaced_types},
            {parse_transform, lager_transform},
            warnings_as_errors,
            debug_info]}.
{eunit_opts, [no_tty, {report, {eunit_progress, [colored, profile]}}]}.
{xref_checks, []}.
{lib_dirs, [
  "deps/elixir/lib"
]}.
{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}},
        {elixir, ".*", {git, "git://github.com/elixir-lang/elixir", {tag, "v1.0.4"}}}
       ]}.
